[submodule "Content/LeagueSandbox-Default"]
	path = Content/LeagueSandbox-Default
	url = https://github.com/thugweaboo/LeagueSandbox-Default.git
	branch = indev
[submodule "LeaguePackets"]
	path = LeaguePackets
	url = https://github.com/thugweaboo/LeaguePackets.git
	branch = master
